.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .login-form{
        margin-top: 50px;
    }
    .login_card{
        width: 500px;
        min-height: 550px;
        padding: 30px;
        mat-form-field, mat-input{
            width: 100%;
        }
        mat-error{
            margin-bottom: 5px !important;
        }
        .submit_btn{
            width: 100%;
            height: 50px;
        }
        .register_link{
            text-decoration: none;
            margin-top: 10px;
            text-align: right;
        }
    }
}