.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .register_form{
        margin-top: 80px;
    }
    .registration_card{
        width: 500px;
        min-height: 650px;
        padding: 30px;
        mat-form-field, mat-input{
            width: 100%;
        }
        mat-error{
            margin-bottom: 5px !important;
        }
        .submit_btn{
            width: 100%;
            height: 50px;
        }
    }
    .login_link{
        text-decoration: none;
        margin-top: 10px;
        text-align: right;
    }
}