<div class="wrapper">
  <app-nav-bar />
  <app-loader />
  <mat-sidenav-container fxFlexFill class="sidenav_container">
    <mat-sidenav class="sidenav"
    *ngIf="(sharedService.openSideMenu$ | async) as open"
      color="primary"
      fxLayout="column"
      mode="over"
      [opened]="open"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column" class="sidenav_links">
        <a mat-button routerLink="/">Home</a>
        <a *ngIf="auth.user$ | async" mat-button routerLink="/admin">Dashboard</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill class="main_content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
